@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --st-grey:#E5E5E5;
    --msg-bg-grey: #DCDCDC;
    --msg-bg-pink: #FFDEDE;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden ;
}

strong {
    font-weight: bolder !important;
}

.hidden {
    display: none !important;
}

#entry-screen {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 15;
}

#entry-screen header {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

#entry-screen header img {
    width: 160px;
}

#entry-screen input {
    background-color: inherit;
    text-align: center;
    border: 2px solid #D7D7D7;
    border-radius: 4px;
    padding: 3px;
    height: 54px;
    width: 261px;
    font-size: 20px;
    color: #838383;
}

#entry-screen input:focus {
    outline: none;
    border: 2px solid #d7d7d7;
    color: #838383;
}

#entry-screen button {
    width: 109px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    background-color: #e7e7e7;
    color: #696969;
    font-size: 18px;
    border: none;
}

#loading-spinner {
    width: 100px;
    position: relative;
    animation-name: spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#entry-text {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}


/* ################################################################################### */

#main-content-container {
    background-color: var(--st-grey);
    min-height: 100vh;
}

#main-content-container > header {
    height: 80px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 75px;
}

.users-icon {
    width: 42px;
}

.messages-container {
    padding: 100px 0px 90px 0px;
    color: black;
}

.message-box {
    width: 100%;
    padding: 15px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 15px;
}

.message-box > p {
    overflow-y: hidden;
}

.message-time {
    color: rgb(197, 197, 197);
    font-size: 14px;
}

.status {
    background-color: var(--msg-bg-grey);
}

.private_message {
    background-color: var(--msg-bg-pink);
}

.message {
    background-color: #fff;
}

#menu-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    right: -50000px;
    bottom: 0;
    transition: background-color 0.15s ease-in-out 0.15s;
}

#menu-container.active {
    background-color: rgba(0, 0, 0, 0.6);
    right: 0px;
}

.menu {
    position: fixed;
    top: 0;
    right: -500px;
    height: 100vh;
    width: 270px;
    padding: 0px 20px;
    background-color: rgba(255, 255, 255, 1);
    transition: right 0.1s ease-in-out 0.1s;
}

.menu.active {
    right: 0;
}

.menu h3 {
    font-size: 16px;
    text-align: center;
    overflow-y: hidden;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu-left-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-left-ico {
    width: 25px;
    margin-right: 10px;
}

.menu-right-ico {
    width: 20px;
    visibility: hidden;
}

.menu-right-ico.default {
    visibility: visible;
}


footer {
    height: 80px;
    background-color: #fff;
    width: 100%;
    padding: 20px 20px 5px 20px;
    flex: 1;
    position: fixed;
    bottom: 0;
}

.footer-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sending-to {
    font-size: 12px;
    color: #5f5f5f;
    overflow-y: hidden;
}

footer textarea {
    resize: none;
    width: calc(100% - 50px);
    border: none;
    outline: none;
    height: 38px;
    padding: 4px;
    font-size: 16px;
    color: #191919;
}

.send-ico {
    width: 26px;
}